<h1>Editing School</h1>
<div class="button">
<%= link_to 'Show', @school, :class=> 'btn' %>
<%= link_to 'Back', schools_path, :class=> 'btn'  %>
</div>

<div class="well">
<div class="siform">
<%= render 'form' %>
</div>
</div>