/*$background: rgb(187,213,224);
rgb (177,199, 207)*/
/*
$background: rgb(166,194,204);*/

$background: rgb(166,146,146);

$border: rgb(103,127,148);

/*
$background: rgb(157,191, 207);200, 204, 198; 204,197,196; 176, 184, 204; 184,186,204*/