// Place all the styles related to the Entrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";


/*Styling for Nested Form Entering*/

div.guardian {
color: rgb(17,40,45);
font-weight:bold;
}

div.line {
background-color:$background;
height:1px;
margin-bottom:24px;
margin-left:15%;
margin-right:3%;
}



div#stay {
background-color: rgb(235,235,235);
}


td.dob {
min-width:100px;
}

td.note { 
max-width:100px; white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;}

div#indexbtn {
float:left;
}

.table tbody tr th {
border:solid 1px rgb(17,40,45);
}
.table tbody tr:hover th {
    background-color:  rgb(17,40,45);
}
.table tbody tr:hover td {
		background-color:rgb(165,196,187);
}


@media screen and (min-width: 300px) {
margin-left:5%;

div#staybuttons {
margin-left:0%;
}
}

@media screen and (min-width: 480px) {

div.guardian .two-col {
       -moz-column-count: 1;
       -moz-column-gap: 20px;
       -webkit-column-count: 1;
       -webkit-column-gap: 20px;
       column-count: 1;
       column-count: 20px;
       }

div.entrant {
       -moz-column-count: 1;
       -moz-column-gap: 20px;
       -webkit-column-count: 1;
       -webkit-column-gap: 20px;
       column-count: 1;
       column-count: 20px;
       }       
       
       
       }

@media screen and (min-width: 960px) {

div.guardian .two-col {
       -moz-column-count: 2;
       -moz-column-gap: 0px;
       -webkit-column-count: 2;
       -webkit-column-gap: 0px;
       column-count: 2;
       column-gap: 0px;
       margin-left:12%;
       
       }
       
div.entrant {
       -moz-column-count: 1;
       -moz-column-gap: 0px;
       -webkit-column-count: 1;
       -webkit-column-gap: 0px;
       column-count: 1;
       column-gap: 0px;
       margin-left:12%;
       
       }       
       
       }
