// Place all the styles related to the Entrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.entrants-wrapper {
height: 400px; 
overflow: auto;
background-color:white;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
				border-radius: 3px;
				
				margin-top:50px;
}

div#indexbtn {
float:left;
}

.table tbody tr th {
border:solid 1px rgb(17,40,45);
}
.table tbody tr:hover th {
    background-color:  rgb(17,40,45);
}
.table tbody tr:hover td {
		background-color:rgb(165,196,187);
}


@media screen and (min-width: 300px) {
margin-left:5%;
}

@media screen and (min-width: 480px) {
.three-col {
       -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
       column-count: 2;
       column-count: 20px;
       }
       }



@media screen and (min-width: 960px) {
.two-col {
       -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
       column-count: 2;
       column-count: 20px;
       margin-left:10%;
       
       }
       }
