@import "reset";
@import "fonts";
@import "colors";
@import "mixins";

/* Hide Stuff */
ul.accessibility { display: none; }

table th {
background-color: rgb(17,40,45);
color:white;
}

div#show b {
color:rgb(93,145,145);
font-weight:bold;
}

body {
background-color: $background;
}

table {
background-color: white;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
				border-radius: 3px;
		height:30px;
		overflow:scroll;	
				
}

.navbar {
 padding-bottom: 40px;
}

.form-search {
position:absolute;
margin-left:18%;
}


footer {
margin-left:10%;
float:right;
}


/*Fonts make this a mixin and pull in as a variabl from mixin*/
h1 {
font-family: $lucida;
font-size: 24px;
margin-bottom:12px;
}

@media screen and (min-width: 300px) {
div#page {
margin-left: 5%;
padding-bottom:300px;
}
}


@media screen and (min-width: 460px) {

div#page {
margin-top: 40px;
margin-right:5%;
}
.form-search {
position:absolute;
margin-left:25%;

}

}

