// Place all the styles related to the Shelters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*

.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: inherit;
} */

.form-horizontal {
margin-left: -15%;
}

div#new {
margin-bottom:24px;
}

div#show b {
color:rgb(204,82,75);
font-weight:bold;
}